
#the-input-field-container {
    background: #000;
    border: 1px #fff solid;
    border-radius: 15px;
}

#the-hidden-real-input-field {
    display: none;
}

#the-input-field {
    background: #000;
    color: #fa0;
    text-shadow: 0 0 20px #fa0;
    max-width: 92%;
    margin: 0 auto;
    min-height: 38px;
    overflow: hidden;
}

.typewriter #the-caret {
    overflow: visible;
    border-right: .1em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: blink-caret 0.75s step-end infinite;
    height: 38px;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #fff;
    }
}