.navigation {
    display: block;
    position: fixed;
    width: 150px;
    height: 100%;

    color: white;
    text-align: left;

    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background: #83092c;

}

.navigation-item {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    background: #83092c;
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation-item:hover {
    background: #ffa6af;
    color: black;
}

.navigation-main-icon {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    background: #83092c;
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: 60px;
    line-height: 60px;
    word-break: break-all;
    text-align: center;
    color: #ff7900;
    font-size: 58px;
    font-style: italic;
}
